.login-form {
  --border-radius: 4px;

  box-sizing: border-box;
  width: 100%;
  padding: 50px 16px 29px;

  border: 4px solid var(--color-blue-0, blue);

  &--invalid {
    animation: shakeX 0.5s;
  }
}

.login-form__logo {
  width: 151px;
  height: 28px;
  margin-top: -3px;
  margin-left: -6px;
}

.login-form__form {
  margin-top: 19px;
}

.login-form__field-label {
  display: block;

  padding: 10px 0 3px;
}

.login-form__field-input-wrapper {
  --input-button-width: 22px;
  --input-button-padding: 15px;

  position: relative;
}

.login-form__field-input {
  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  margin-bottom: 11px;

  font-size: 20px;
  line-height: 25px;

  background-color: var(--color-lightgray-0, lightgray);

  border: 1px solid var(--color-black-2, black);
  border-radius: var(--border-radius);
  outline: none;

  &--invalid {
    border-color: var(--color-red-0, red);
    box-shadow: inset 0 0 0 2px var(--color-red-0, red);

    &::placeholder {
      color: var(--color-red-0, red);
    }

    &:not(:disabled):focus {
      border-color: var(--color-red-0, red);
      box-shadow:
        inset 0 0 0 2px var(--color-red-0, red),
        0 0 0 2px var(--color-black-2, black);
    }
  }

  &--password {
    padding-right: calc(
      var(--input-button-width) + var(--input-button-padding) * 2
    );
  }
}

.login-form__field-input-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;

  height: 100%;
  padding: 15px;

  background-color: transparent;

  border: none;
  border-radius: var(--border-radius);
  outline: none;

  &::before {
    content: "";

    display: block;
    width: var(--input-button-width);
    height: var(--input-button-padding);

    background-image: url("../../images/close-eye.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.login-form__field-input-button:not(:disabled) {
  &:hover {
    background-color: var(--color-gray-0, gray);
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 1px var(--color-black-2, black);
  }

  &:active {
    opacity: 0.3;
  }
}

.login-form__submit {
  margin-top: 30px;
}

.login-form__password-link {
  display: block;

  padding: 11px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  outline: none;
}

.login-form__password-link:not(:disabled)[href] {
  &:hover {
    color: var(--color-blue-0, blue);
  }

  &:focus:not(:hover) {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}

.login-form__close-button {
  top: 38px;
  right: 8px;
}

.login-form__outer-wrapper {
  width: 100%;
  max-width: 678px;
}

@media (min-width: $tablet-breakpoint) {
  .login-form {
    padding: 60px 84px 56px;
  }

  .login-form__logo {
    margin-left: 0;
  }

  .login-form__form {
    margin-top: 29px;
  }

  .login-form__field-wrapper {
    margin-top: 16px;
  }

  .login-form__field-input {
    margin: 0;
  }

  .login-form__field-input-button {
    padding: 15px 24px;
  }

  .login-form__buttons-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .login-form__password-link {
    padding-top: 7px;
    margin-left: auto;
    margin-right: -10px;

    font-size: 12px;
    line-height: 17px;

    color: var(--color-black-3, black);
  }

  .login-form__submit {
    margin-top: 14px;
  }

  .login-form__close-button {
    top: 48px;
    right: 76px;

    &::before {
      --icon-size: 20px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .login-form {
    padding-left: 56px;
    padding-right: 56px;
  }

  .login-form__close-button {
    right: 48px;
  }

  .login-form__outer-wrapper {
    max-width: 544px;
  }
}
